

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  padding: 1rem;
}

nav {
  background-color: #333;
  color: white;
  padding: 1rem;
  position: relative;
}

#logo img {
  height: 40px;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

#menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

#menu li a {
  color: white;
  text-decoration: none;
}

#btn-menu {
  display: none;
}

#btn-menu:checked ~ #menu {
  display: block;
  flex-direction: column;
}

#btn-menu:checked + .menu-icon #abrir {
  display: none;
}

#btn-menu:checked + .menu-icon #cerrar {
  display: inline;
}

.menu-icon #cerrar {
  display: none;
}


@media (max-width: 768px) {
  #menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 1rem;
  }

  .menu-icon {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
  }
}

.contenedor {
  max-width: 960px;
  margin: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
}

.destacado {
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 2rem;
}

img {
  vertical-align: middle;
  height: 20px;
  margin-right: 0.5rem;
}
